body{
	background-image:url("../images/cemetary.jpg");
	background-size:cover;
}

canvas {
margin-left:10%;
border:2px solid orange;
border-radius:1%;
}

#left{
	border: 1px solid black;
}

#center{
	border: 1px solid black;
}

#right{
	border:1px solid black;
}

.holder{
	background-color:black;
	border-radius:5%;
	border:1px solid orange;
	position:fixed;
	width:30%;
}

span {
	font-family: "Baloo Bhaijaan", cursive;
	font-size:25px;
	color:#f94909;
}